---
import MqLayout from '../../layouts/MqLayout.astro';
import AboutSide from '../../components/mq/AboutSide.astro';
import { servicesPage, servicesDetail, cleanHtml } from '../../lib/content.js';
---
<MqLayout title="Dịch vụ" active="ve-chung-toi">
  <div class="page">
    <AboutSide active="dich-vu" />
    <div class="content">
      <h1 class="h-sec">Dịch vụ</h1>
      {servicesPage && <div class="rich" set:html={cleanHtml(servicesPage.html)} />}
      {servicesDetail && <div class="rich" set:html={cleanHtml(servicesDetail.html)} />}
    </div>
  </div>
</MqLayout>
